/*-----Blue cypher page theme for Binary translator*/
.blueBox{
  /* background-color: rgba(41, 128, 185, 0.8); */
  background-color: rgba(35, 117, 224, 0.8);
  color: white;
}

.hoveredBlueBox{
  background-color: rgba(35, 117, 224, 1);
}

.blueText{
  color: rgba(35, 117, 224, 0.9);
}

#activeBinaryBack{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  height: 100%;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 19px;
  font-weight: bold;
  font-family: Arial;
  transition: all 0.5s ease;
  color: rgba(255, 255, 255, 0.5);
  background: linear-gradient(to bottom right, #ccffff 0%, #6699ff 100%);
}
